<div class="item">
  <div class = "item_h1"> Edit Information for the <%= @collection[:name] %> Collection</div>
  <%= render 'form' %>
  <%= link_to 'Show', @collection %>
  |
  <%= link_to 'Back', collections_path %>
</div>
