###############################################################################################
# Ignore specific config files
###############################################################################################
.bundle/*
!.bundle/config
config/application.yml
###############################################################################################
# Ignore all logfiles and tempfiles.
###############################################################################################
/log/*.log
/tmp
###############################################################################################
# Packages #
###############################################################################################
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


###############################################################################################
# Logs and databases #
###############################################################################################
*.log
*.sql
*.sqlite



/public
/src
.DS_Store
