<%= simple_form_for([@collection,  @extract_ner ]) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
<div class="preform">
  <h3>Extract Named Entities </h3>
  </br>
  <%= f.input :ner_peeps, label: "Extract People, Places, Organizations and Dates from the Collection", as: :radio_buttons, :label_html => { :class => 'field' }  %>

  <div class="form-actions">
  <%= f.button :submit,  'Submit'%>
  </div>
</div>
</div>

<% end %>
