
<div class = "item_header"><h2>Extract Named Entities for a Collection </h2></div>

  <%= render 'form' %>

   <div class="link_nav">

  <%= link_to 'Extract Named Entities Home', extract_ners_path %>
</div>
