

<div class = "item_h1">Extract Named Entities for the
    <%=@collection.name.titleize%>
    Collection
  </div>


  <%= render 'form' %>
  <%= link_to 'Extract Named Entities Home',  collection_extract_ners_path(@collection[:id]) %>
</div>

