<h4> <%= @collection[:name] + " Collection => " + @extract_topic[:routine_name] %>
<h3> <%="Topic " + @topic[:topic_number] + ": " + @topic[:name] %>
<h5>Top 50 documents associated with this topic: </h5>

<% @doc_dict.each do |k, v| %>
   <li> <%= link_to v, collection_extract_topic_topic_doc_path(@collection[:id], @extract_topic[:id], k) %>   </li>
<%end%>



</br>
<%= link_to @extract_topic[:routine_name], collection_extract_topic_topics_path(@collection[:id] ,  @extract_topic[:id]) %>
