<div class="item">
  <div class = "item_h1">The <%= @collection[:name] %> Collection </div>

  <div class="original_doc">
<div class="original_doc_padding">
<h5> Original Document Contents for <%= @document[:name] %> </h5>
 <%=@contents.html_safe %>
</div>
</div>


 <div class="link_nav">
<%= link_to 'Back', collection_documents_path %>
</div>
</div>
