<div class="item">
<%= @extract_topic.errors.full_messages.first if @extract_topic.errors.any? %>

  <h1>Create a New Topic Model for the
    <%=@collection.name.titleize%>
    Collection
  </h1>
  <%= render 'form' %>
  <%= link_to 'Extract Home',  collection_extract_topics_path %>
</div>
