<div class="item">
<%= @extract_topic.errors.full_messages.first if @extract_topic.errors.any? %>

<div class = "item_h1"> Create a New Topic Model for the
    <%=@collection.name.titleize%>
    Collection
</div>
  <%= render 'form' %>
  <%= link_to 'Topic Modeling Home',  collection_extract_topics_path %>
</div>
