<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @greeting %></h1>
  </br>
    <p>
      <%= @status_msg.html_safe %>
    </p>
  </br>
    <p>Please contact us if you have any questions</p>
    <h5>Thank you, </h5>
    <h5>The Team at ArchExtract in Bancroft Library</h5>
  </body>
</html>
