
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @greeting %></h1>

    <p>
      <%= @status_msg %>
    </p>
     <p>
      <%= @stuff %>
    </p>
    <p>Thanks for running this and have a great day!</p>
  </body>
</html>
