
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @greeting %></h1>

    <p>
      <%= @status_msg %>
    </p>
    <h3>  <%= @routine_name %> </h3>
    <% if @error %>
      <%= @error %>
      <% end %>
      <p>Please contact us if you have any questions <p>
     <p>Thank you,  <p>
     <p>The Team at ArchExtract in Bancroft Library<p>
  </body>
</html>
