/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.item{
  padding-left: 30px;
  padding-top:15px;
}

.item_h1{
color:#545454;
font: arial;
font-size:22px;
padding-top:10px;
padding-bottom:30px;
}

#topbreak{
  padding-top: 40px;
}

.link_nav{
padding-top:10px;
  font-size:16px;
  font: arial;
}


.field{
font-size: 1.1em;
font-weight:bold;
color:#545454;
font: arial;
}


.description{
font-size: .8em;
}

.preform h3 {
padding:10px;
background-color:#D8E0CE;
color:#545454;
font: arial;
font-size:18px;
}



.newec_link
{
padding-top: 20px;
font-size: 20px;
}


.collection_table td {
    font-size: 1em;
    border: 1px solid #000000;
    padding: 3px 7px 2px 7px;

    }

.collection_table th {
  font-size: 1.1em;
    text-align: left;
    border: 1px solid #000000;
     padding: 5px 7px 5px 7px;
    }
// Place all the styles related to the collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.collection_all  {
 padding: 20px;
}

.collection_all h1,h2 {
padding-top: 5px;
padding-bottom: 20px;
}

.collection_all a:hover {
background-color:LightGreen;
}

.collections_break{
  padding-top:25px;
}
.collection_single_head {
  padding-bottom:5px;
  font-weight:bold;
  font-size:15px;
}

.collection_single_item {
  padding-bottom:20px;
}

.collection_single {
   border: 1px solid #000000;
   padding-left:15px;
}

.collection_nav {
  padding-top:10px;
  font-size:20px;
}

#mdformsp {   padding-top:10px;
}

footer {
    border-top-style:solid;
    padding-top:10px;
    border-top-width:1px;
    border-top-color:#DDDDDD;
    font-size:10px;
}


.footercenter{
margin-left: auto;
   margin-right: auto;
    width: 95%;
}

#mynavarch{
  padding-top:15px;
  font-size:50px;
   color:#FFFFFF;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
   padding-top:15px;
}

.mynavitems_first{
  padding-left:120px;
  padding-bottom:10px;
}

.mynavitems{
  padding-left:25px;
  padding-bottom:10px;
}

.myfooterpad{
padding-bottom:100px;
}

.mynav{
   background-color:#D8E0CE;
}
.original_doc{
  background-image: url(/images/paperbackground.jpg);
}

.original_doc_padding {
  padding: 15px;
}

.bottom_padding{
  padding-bottom: 10px;
}
.top_padding{
  padding-top:15px;
}
.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
 }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }
