// Place all the styles related to the collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#collection_all  {
  padding: 50px;
}

#collection_all h1,h2 {
padding-top:15px;
padding-bottom:15px;
}


#collection_all a:hover {
background-color:LightGreen;
}



#collection_single_head {
  padding-bottom:5px;
  font-weight:bold;
  font-size:15px;
  font:arial;
}

#collection_single_item {
  padding-bottom:20px;
}

#collection_single {
   border: 1px solid #000000;
   padding-left:15px;
}

#collection_nav {
  padding-top:10px;
  font-size:20px;
}


