#item_login_head{
padding-top:5%;
margin-bottom:-1%;
}

#item_signup_head{
padding-top:5%;
}


#item_login_signup{
font-style: italic;
margin-bottom:-0.5%;
}

#forgot_pass {
  padding-top:1%;
  padding-bottom:1.5%;
  font-size:120%;
}

#signupbutton{
  padding-bottom:1%;
  padding-top:1%;
}

#role_sign{
  font-size:120%;
  padding-top:1.5%;
  font-style: bold;
}
