// Place all the styles related to the extracts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#new_extract h1 {
padding-top:15px;
padding-bottom:15px;
}


.extract_item {
  padding-bottom:15px;
  padding-top: 15px;
}
