// Place all the styles related to the ners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nercolumn
{
  width:210px;
  float:left;
  border:1px solid;
  padding-left:5px;
  height:1000px;
}

#ner1{
background-color:#E8E8EE;
color:#545454;
font: arial;
font-size:22px;
margin-top:9%;
padding:2%;
margin-bottom:2%;
}


.item_h_other{
color:#545454;
font-family: 'Open Sans', sans-serif;
font-size:22px;
padding-top:10px;
padding-bottom:20px;
float:left;
}

.doclink
{
  font-size:14px;
}

#ner_cn_name{
  float:left;
   font-size:12px;
}

#sim_terms{
  font-weight: bold;
   font-size:16px;
   clear: both;
}
