// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.doc1{
  float:left;
    width:400px;
}

.doc2 {
  float:right;
  width:300px;
}

h5{
  padding-top:10px;
}

#topic_header {
font-family: 'Open Sans', sans-serif;
font-size:22px;
padding-left:30px;
padding-top:30px;
padding-bottom:30px;
 background-color:#E8E8EE;
color:#545454;
line-height:23px;
}

#top_items {
  float:left;
}

#topic_num{
  float:left;

}

.topline {
  color:#545454;
font: arial;
font-size:22px;
padding-top:10px;
padding-bottom:30px;
}
