
              <!--<<h3>Sidebar</h3>-->
              <ul class="nav nav-list">
              </br> </br>  </br>
                 <!--<<li class="nav-header"></li>-->
                <li><%= link_to 'Add a New Collection', new_collection_path %></li>
                <li><%= link_to "Browse Topics", "/path2"  %></li>
              </ul>
            </div><!--/.well -->
          </div><!--/span-->
        </div><!--/row-->
